@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The images from this webapp is stolen from Don Welch without his permission, will ask after class.Until then, don't be a snitch</p>
