@page
@model RazorSyntaxDemo.Pages.FormExample2Model
@{
}
<form method="post">
    <button tupe="submit">Get Lucky Numbers</button>
</form>
<div style="background-color: cornflowerblue; padding: 1rem;">
    @Model.FeedbackMessage
</div>