@page
@model RazorSyntaxDemo.Pages.FormExample2Model
@{
}
<div>
    <h1>LOTTO MAX NUMBERS</h1>
    @Model.FeedbackMessage
</div>
<form method="post">
    <button tupe="submit">Get Lucky Numbers</button>
</form>
